version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: finance_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - finance_network

  mongo:
    image: mongo:7
    container_name: finance_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongo123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - finance_network

volumes:
  postgres_data:
  mongo_data:

networks:
  finance_network:
    driver: bridge
